
h1 { 
    font: bold 32px Helvetica, Arial, Sans-Serif; 
    letter-spacing: -1px; 
    padding: 14px; 
    color: #333; 
    text-shadow: 1px 1px 1px white; 
}
nav{
    position: relative;
    float: left;
    top: 10px;
}
nav ul { 
    list-style: none;
    padding-left: 0px;
}
nav ul li {
    width: 312px;
    height: 53px; 
    margin-top: 4px;
}
