nbproject/
.DS_Store
nbproject/private/private.properties
fotos/tmp/*


server/config/*.php

application/config/config.php

application/config/*.php

application/libraries/Rest.php
/application/config/
/application/libraries/
/server/config/
/server/libraries/
fotos/tmp/14f06772a3952f7277267db4c31bd242.png

fotos/tmp/2b976a4b95b5aef689786b77a44e3473.png
