nbproject/
.DS_Store
nbproject/private/private.properties

application/config/config.php

application/config/database.php

application/libraries/Rest.php

server/config/config.php

server/config/database.php
